.message-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: lightgoldenrodyellow;

  .header-wrapper {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid gray;
    border-radius: 4px 4px 0 0;
    background-color: lightgrey;

    .header-name-wrapper {
      margin-left: 10px;
    }
  }
}

.message-list-overflow {
  height: 100%;
  overflow: auto;
}

.message-list-area {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .message-item {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin-top: 10px;
  }
}

.message-input-wrapper {
  margin-top: auto;
  width: 100%;
  padding: 10px;

  .ui.action.input {
    width: 100%;
  }
}
